body {
	background-color: #4838B2;
	color: #FFF08B;
}

.first-list #fourth-list-item {
	color: #9382FF;
	font-size: 30px;
	font-family: 'Henny Penny', cursive;
}


li:before {    
	font-family: 'FontAwesome';
	content: '\f067';
	margin-left: 40px;
	margin:0 5px 0 -15px;
	margin-left: 40px;
	color: #f00;
}